/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  position: relative;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 116.667%; /* 21px */
  font-weight: var(--main-text-weight);
  font-variation-settings: 'wght' var(--main-text-weight);
  color: var(--accent-color);
  background-image: repeating-linear-gradient(
      to left,
      var(--gradient-color),
      var(--gradient-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to top,
      var(--gradient-color),
      var(--gradient-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      var(--gradient-color2) 0.01%,
      var(--gradient-color3)
    );
  background-size: cover;
}

.page::after {
  content: '';
  background-color: var(--background-color);
  width: 100%;
  height: calc(100% - 100vh);
  top: 100vh;
  position: absolute;
  z-index: -1;
}

.header {
  margin: 100px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(375px, 49vw, 700px);
  border: 2px solid var(--accent-color, #000);
  background-color: var(--background-color);
}

.header-title {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  font-weight: 400;
  font-variation-settings: 'wght' 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: clamp(100px, 32vw, 136px);
  margin-bottom: 20px;
}

.header-subtitle {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  font-weight: 400;
  font-variation-settings: 'wght' 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.header__theme-menu {
  margin-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__item {
  display: flex;
  align-items: center;
}

.theme-menu__item::before {
  content: '';
  display: inline-flex;
  width: 14px;
  height: 14px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 14px;
  margin-right: 4px;
  opacity: 0.6;
}

.theme-menu__item:has(.theme-menu__button:disabled)::before {
  animation: arrow_move 0.5s infinite ease-in-out alternate;
  content: '▶';
}

.theme-menu__button {
  position: relative;
  display: inline-flex;
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.3s;
}

.theme-menu__button::after {
  position: absolute;
  bottom: -2px;
  content: '';
  border-bottom: 2px solid;
  width: 100%;
  transition: transform 0.3s;
  transform-origin: 0 0;
  transform: scaleX(0);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:hover::after {
  transform: scaleX(1);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 49px;
  width: clamp(375px, 49vw, 700px);
  margin: auto;
  background-color: var(--background-color);
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-color, #000);
}

.card__title {
  font-size: 18px;
  /* font-weight: var(--header-weight); */
  font-variation-settings: 'wght' var(--header-weight);
  padding: 5px 10px;
  border-bottom: 2px solid var(--accent-color, #000);
}

.card__image-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom: 2px solid var(--accent-color, #000);
}

.card__image.filter1 {
  filter: sepia(80%);
}

.card__image.filter2 {
  filter: saturate(300%);
}

.card__image.filter3 {
  filter: brightness(80%);
}

.card__image.filter4 {
  filter: invert(0.7);
}

.card__image.filter5 {
  filter: grayscale(0.8);
}

.card__image.filter6 {
  filter: blur(0.6rem);
}
.card__image.filter7 {
  filter: hue-rotate(90deg) brightness(60%);
}

.card__image-watermark {
  position: absolute;
  right: 25px;
  top: 21px;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
  font-family: var(--accent-font);
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  /* text-transform: uppercase; */
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .card__image-watermark {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.card__container {
  margin: 25px;
  display: flex;
  flex-direction: column;
}

.card__text + .card__text {
  margin-top: 27px;
}

.card__footer {
  margin-top: 25px;
  display: inline-flex;
  align-self: flex-end;
  gap: 5px;
  align-items: center;
}

.card__icon-button {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.3s;
  border: 2px solid transparent;
  padding: 0;
  width: 43px;
  height: 40px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000);
}

/* .like-icon {
} */

.card__icon-button .core {
  fill: var(--heart-core);
  transition: fill 0.3s 0.03s;
}

.card__icon-button .main-body {
  fill: var(--heart-main-body);
  transition: fill 0.3s;
}

.card__icon-button .sparks {
  opacity: 0;
}

.card__icon-button:hover {
  --heart-core: var(--accent-color);
  --heart-main-body: var(--accent-color);
}

.card__icon-button:hover .core {
  transition: fill 0.3s;
}
.card__icon-button:hover .main-body {
  transition: fill 0.3s 0.05s;
}

.card__icon-button:active {
  --heart-core: var(--heart-sparks);
  --heart-main-body: var(--heart-sparks);
}

.like-icon .heart {
  transform-origin: 50% 50%;
}

.like-icon.is-liked .contour {
  fill: var(--heart-sparks);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .core {
  --heart-core: var(--heart-sparks);
}

.like-icon.is-liked .main-body {
  --heart-main-body: var(--heart-sparks);
}

.like-icon.is-liked .heart {
  animation: like-scale 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s 0.3s ease-in alternate;
}

.card__like-button {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color, #000);
  padding: 9px 17px;
  width: 130px;
  height: 40px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%; /* 12.6px */
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}

.button__text {
  position: relative;
}

.footer {
  display: flex;
  width: fit-content;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 102px;
}

.footer__save-button {
  padding: 0;
  display: inline-flex;
  border: 2px solid var(--accent-color, #000);
  background-color: var(--background-color);
  font-family: var(--accent-font);
  font-size: 14px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.footer__save-button:focus {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}

.footer__save-button svg {
  width: 21px;
  height: 21px;
}
.footer__save-button .button__text {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding: 15px 19px;
  white-space: nowrap;
}

.dialog {
  background-color: var(--background-color);
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  width: 357px;
  padding: 32px;
}

.dialog .dialog-content {
  display: grid;
  gap: 30px 20px;
  grid-template-columns: 39px 1fr;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  backdrop-filter: blur(7px);
}

.dialog-content__image {
  width: 39px;
  align-self: center;
}

.dialog-content__button {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  grid-area: 2 / 1 / 3 / 3;
  text-transform: uppercase;
  padding: 9px 17px;
  font-size: 14px;
  line-height: 90%; /* 12.6px */
  cursor: pointer;
}

@media (width <= 375px) {
  .card__image-watermark {
    right: 11px;
  }
  .footer__save-button .button__text {
    display: flex;
    flex-wrap: wrap;
    max-width: 310px;
    gap: 7px;
  }
  .footer__save-button svg {
    width: 30px;
    height: 30px;
  }
  .dialog {
    width: 341px;
  }
}