/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
body.theme-dark {
  --background-color: #000;
  --accent-color: #00cc14;
  --main-text-weight: 465;
  --header-weight: 785;
  --gradient-color: #000;
  --gradient-color2: #007f0c;
  --gradient-color3: #004306;
  --aimated-color: var(--accent-color);
}

body.theme-light {
  --background-color: #fff;
  --accent-color: #000;
  --main-text-weight: 400;
  --header-weight: 700;
  --gradient-color: #d3d3d3;
  --gradient-color2: #e7e7e7;
  --gradient-color3: #1a1a1a;
  --aimated-color: var(--background-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --accent-color: #00cc14;
    --main-text-weight: 465;
    --header-weight: 785;
    --gradient-color: #000;
    --gradient-color2: #007f0c;
    --gradient-color3: #004306;
    --aimated-color: var(--accent-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --accent-color: #000;
    --main-text-weight: 400;
    --header-weight: 700;
    --gradient-color: #d3d3d3;
    --gradient-color2: #e7e7e7;
    --gradient-color3: #1a1a1a;
    --aimated-color: var(--background-color);
  }
}
